/*//////////////////////////////////////////////////////*/
/*                 ESTILOS GLOBALES                     */
/*//////////////////////////////////////////////////////*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
}

body.dark-mode {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 89, 37);
    padding: 10px 20px;
    color: white;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(19, 19, 19);
}

header>a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1.4rem;
}

.logo>a {
    text-decoration: none;
    color: white;
}

.barra-busqueda {
    padding: 8px;
    border-radius: 4px;
    border: none;
    width: 275px;
    border: 1px solid rgb(19, 19, 19);

}

.carrito {
    font-size: 1rem;
}

.link {
    background-color: rgb(232, 89, 37);
    color: rgb(19, 19, 19);
    font-weight: bolder;
    padding: 30px;
}

.link-referenciado {
    background-color: rgb(19, 19, 19);
    color: rgb(232, 89, 37);
    font-weight: bolder;
    padding: 30px;
}

.contenedor {
  background-color: #ffe1c1; /* Fondo claro para destacar */
  border: 1px solid #e07b39;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  max-width: 500px;
  text-align: center;
}

/*Contenedor que se utiliza en el index */
.bienvenida{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

body.dark-mode .bienvenida{
    background-color: #222;
    color: #eee;
}

.contenedor-bienvenida {
  background-color: #ffe1c1; /* Fondo claro para destacar */
  border: 1px solid #e07b39;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  max-width: 500px;
  text-align: center;
}

body.dark-mode .contenedor-bienvenida{
    background-color: #333;
    border: 1px solid #555;
    color:#eee
}


.contenedor-bienvenida label {
  font-weight: 500;
  text-align: left;
}

.contenedor-bienvenida input {
  padding: 0.75rem;
  border: 1px solid #d97706;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff6ed;
}

body.dark-mode .contenedor-bienvenida input{
    background-color: #333;
    border: 1px solid #555;
    color:#eee
}


.contenedor-bienvenida button {
  padding: 0.75rem;
  background-color: #e07b39;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

body.dark-mode .contenedor-bienvenida button {
    background-color:  #af8163;
    border: 1px solid #555;
    color:#eee
}

.contenedor-bienvenida button:hover {
  background-color: #d97706;
}

body.dark-mode .contenedor-bienvenida button:hover {
    background-color: #777;
}
#boton-modo-oscuro {
    width: 120px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(195, 195, 195);
    border: 2px solid rgb(141, 141, 141);
    color: rgb(19, 19, 19);
    border-radius: 9px;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}

#boton-modo-oscuro:hover {
    background-color: rgb(43, 232, 37);
    cursor: pointer;
}

body.dark-mode #boton-modo-oscuro {
    background-color: rgb(53, 53, 53);
    color: white;
    border: 2px solid rgb(19, 19, 19);
}

#boton-limpiar-carrito {
    border: 2px solid rgb(19, 19, 19);
    background-color: rgb(200, 255, 0);
    color: rgb(255, 0, 0);
    font-weight: bolder;
    border-radius: 9px;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
}



/*//////////////////////////////////////////////////////*/
/*                 SECCION PRODUCTOS                    */
/*//////////////////////////////////////////////////////*/

.seccion-productos {
    padding: 20px;
}

.titulo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    font-weight: bolder;
}

.contenedor-productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.carta-producto {
    width: 180px;
    min-height: 250px;
    padding: 15px;
    background-color: rgb(195, 195, 195);
    border: 2px solid rgb(141, 141, 141);
    border-radius: 4px;
    text-align: center;
    justify-content: space-evenly;
}

body.dark-mode .carta-producto {
    background-color: rgb(56, 56, 56);
    border: 2px solid rgb(12, 12, 12);
}

.contenedor-imagen-producto {
    height: 250px;
}

.imagen-producto {
    width: 160px;
    height: 235px;
    border: 0.5px solid rgb(15, 15, 15);
    border-radius: 5px;
}

.imagen-producto:hover {
    transform: scale(1.08);
    border: 2px solid rgb(232, 89, 37);
}

.contenedor-nombre-producto {
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.nombre-producto {
    margin: 0;
    padding-top: 10px;
    font-size: 1.1rem;
}


.contenedor-precio-producto {
    height: 30px;
}

.precio-producto {
    margin: 0;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(194, 103, 0);
}


body.dark-mode .precio-producto {
    color: rgb(255, 195, 64);
}


.contenedor-boton-producto {
    height: 40px;
    margin: 0;
    padding-top: 15px;
}

.boton-agregar {
    width: 140px;
    height: 30px;
    background-color: rgb(4, 130, 16);
    font-weight: bolder;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}


.boton-agregar:hover {
    background-color: rgb(43, 232, 37);
    cursor: pointer;
}


/*
.boton-eliminar {
    background-color: rgb(255, 0, 0);
    border-radius: 6px;
    display: flex;
    width: 130px;
    border: none;
    margin-top: 30px;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    height: 35px;
}

.boton-agregar {
    background-color: rgb(9, 255, 0);
    border-radius: 6px;
    display: flex;
    width: 130px;
    border: none;
    margin-top: 30px;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    height: 35px;
}
*/

/*//////////////////////////////////////////////////////*/
/*                 SECCION CARRITO                      */
/*//////////////////////////////////////////////////////*/

.contenedor-carrito {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}

.titulo-carrito{
    text-align: center;
    margin-bottom: 2rem; /*Margen*/
}

.producto-carrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(195, 195, 195);
    border: 2px solid rgb(141, 141, 141);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
}
/*Hover para representar el mismo efecto que en producto*/
.producto-carrito:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/*80x80 con gordeado circular respetando diseño*/
.producto-carrito img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 1rem;
}

.info-producto{
    flex:1;
}

.info-producto p {
    margin: 4px 0; 
}

.controles {
    display: flex;
    align-items: center;
    gap: 8px;
}

.controles-accion button {
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  width: 60x;
}

.boton-restar {
  background-color: #e74c3c;
  width: 30;
}
.boton-restar:hover {
  background-color: #c0392b;
}
.boton-agregar-carrito {
  background-color: #2ecc71;
}
.boton-agregar-carrito:hover {
   background-color:  #27ae60;
}

.boton-eliminar {
  background-color: #34495e;
  padding: 5px 12px;
}

.boton-eliminar:hover {
   background-color: #2c3e50;
 }

 .info-total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2rem;
}

.info-total p{
    font-size: 16px;
    margin: 3px 0;
    font-weight: bold;
}

.info-total button{
    background-color: #2980b9;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

.info-total button:hover{
    background-color: #21618c;
}

/*Modo oscuro para el carrito*/

body.dark-mode .producto-carrito{
    background-color: #333;
    border: 2px solid #555;
}

body.dark-mode .producto-carrito:hover{
    box-shadow:0 4px 12px rgba(255, 255, 255, 0.1);
}

body.dark-mode .info-producto{
    color: #eee;
}

body.dark-mode .boton-restar{
    background-color: #c0392b;
}

body.dark-mode .boton-restar:hover{
    background-color: #a93226;
}

body.dark-mode .boton-agregar-carrito{
    background-color: #27ae60;
}

body.dark-mode .boton-agregar-carrito:hover{
    background-color: #229954;
}

body.dark-mode .boton-eliminar{
    background-color: #555;
}

body.dark-mode .boton-eliminar:hover{
    background-color: #777;
}
body.dark-mode .info-total p{
    color: #eee;
}

body.dark-mode .info button{
    background-color: #555;
    color: #eee;
}

body.dark-mode .info button:hover{
    background-color: #777;
}

/*//////////////////////////////////////////////////////*/
/*                 SECCION ALUMNOS                      */
/*//////////////////////////////////////////////////////*/

.seccion-alumnos {
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(232, 89, 37);
    justify-content: center;
    text-align: center;
}

#integrantes {
    margin-top: 30px;
    margin-bottom: 35px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
/*//////////////////////////////////////////////////////*/
/*                 SECCION RESPONSIVE                    */
/*//////////////////////////////////////////////////////*/
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}